{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["*.json", "*rc", "*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2,
        "trailingComma": "none"
      }
    }
  ],
  "printWidth": 140,
  "semi": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "singleAttributePerLine": false,
  "bracketSameLine": false
}
